<section>
  <h1>Hola, soy Erick</h1>
  <p>Frontend Developer</p>

  <p>
    Construyo interfaces modernas, rápidas y enfocadas en la experiencia de usuario.
  </p>

  <div>
    <a href="#projects">Ver proyectos</a>
    <a href="#">GitHub</a>
    <a href="#">LinkedIn</a>
  </div>
</section>