---
import TechBadge from './TechBadge.astro';

const techs = ["Astro", "JavaScript", "CSS", "HTML"];
---

<section id="stack">
  <h2>Tecnologías</h2>
  <p>En construcción...</p></p>
</section>