---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Erick Portfolio</title>
  </head>

  <body>
    <slot />
    <Footer />
  </body>
</html>